<!--
 * @Author: sunFulin
 * @Date: 2022-10-09 13:24:49
 * @LastEditTime: 2022-10-09 17:06:59
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 引入样式 -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .HeaderMain {
        padding: 20px;
        box-sizing: border-box;
        width: 750px;
      }
      .title {
        font-size: 40px;
      }
      .content {
        padding: 10px 20px;
      }
      .content .el-radio__label {
        width: 97%;
        word-break: break-all;
        font-size: 30px;
      }
      .content .el-radio {
        display: flex;
        align-items: center;
        padding: 10px 0;
      }
      .content .el-radio__inner {
        width: 30px;
        height: 30px;
      }
      .content .el-radio__inner::after {
        width: 0px;
        height: 0px;
      }
      .content .el-radio__input {
        width: 30px;
        height: 30px;
      }
    </style>
  </head>
  <body>
    <script src="./vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <div id="app">
      <my-header />
    </div>
    <!-- <div id="root">
      <my-main />
    </div> -->
    <template id="Header">
      <div class="HeaderMain">
        <div class="item" v-for="(item,index) in list" :key="index">
          <div class="title">{{index+1}}.{{item.title}}</div>
          <div class="content">
            <div v-for="(op,opindex) in item.options" :key="opindex">
              <el-radio @change="handleChange" :label="op.key"
                >{{op.key}}.{{op.value}}</el-radio
              >
            </div>
          </div>
        </div>
      </div>
    </template>
    <template id="Main">
      <div class="MainBlock"></div>
    </template>
  </body>
  <script>
    // 方法一：创建并注册组件（全局注册）
    Vue.component("my-header", {
      template: "#Header",
      props: {
        title: {
          type: String,
          default: "Header",
        },
      },
      data: function () {
        return {
          num: "123489789",
          commonName: "公共组件",
          list: [
            {
              title: "志愿服务期间，志愿者可以佩戴______。",
              answer: "D",
              options: [
                {
                  key: "A",
                  value: "耳环",
                },
                {
                  key: "B",
                  value: "项链",
                },
                {
                  key: "C",
                  value: "墨镜",
                },
                {
                  key: "D",
                  value: "手表",
                },
              ],
            },
            {
              title: "按照志愿者的基本站姿要领，以下不正确的是______。",
              answer: "B",
              options: [
                {
                  key: "A",
                  value: "收腹挺胸，提臀立腰",
                },
                {
                  key: "B",
                  value: "背对服务对象站立",
                },
                {
                  key: "C",
                  value:
                    "男性与女性通常根据各自不同的性别特点，站姿可以各有一些局部的变化",
                },
                {
                  key: "D",
                  value: "肩平下沉，头正颈直",
                },
              ],
            },
            {
              title:
                "志愿者在高楼大厦里面工作时，经常需要使用电梯。在使用电梯时，不正确的是______。",
              answer: "A",
              options: [
                {
                  key: "A",
                  value: "进入电梯后，站在正中间",
                },
                {
                  key: "B",
                  value: "遵守“先出后进”原则",
                },
                {
                  key: "C",
                  value: "进出电梯时，要侧身而行",
                },
                {
                  key: "D",
                  value: "如需在大楼中段出电梯，应提前换到电梯门口",
                },
              ],
            },
            {
              title: "按照入座礼仪，以下不正确的是______。",
              answer: "B",
              options: [
                {
                  key: "A",
                  value: "不能抢在来宾、长辈、上司之前就座",
                },
                {
                  key: "B",
                  value: "从右侧入座，从右侧离座",
                },
                {
                  key: "C",
                  value: "就座的整个过程中，不能发出嘈杂的声音",
                },
                {
                  key: "D",
                  value: "离座时应注意礼仪序列，优先尊长，或与之同时起立",
                },
              ],
            },
            {
              title: "志愿服务中与他人交流时，不正确的是______。",
              answer: "D",
              options: [
                {
                  key: "A",
                  value: "目光要亲切、自然、坦诚",
                },
                {
                  key: "B",
                  value: "不能死盯住对方某部位，或不停地在对方身上上下打量",
                },
                {
                  key: "C",
                  value: "忌用冷漠、傲慢的眼神",
                },
                {
                  key: "D",
                  value: "与他人交谈时，三心二意、心不在焉",
                },
              ],
            },
            {
              title: "志愿者在外交中应该____。",
              answer: "C",
              options: [
                {
                  key: "A",
                  value: "充分了解对方，询问其家庭住址",
                },
                {
                  key: "B",
                  value: "充分了解对方的收入支出情况，表示关切",
                },
                {
                  key: "C",
                  value: "不涉及政见、信仰",
                },
                {
                  key: "D",
                  value: "询问其婚姻年龄、健康状况",
                },
              ],
            },
            {
              title: "正确握手的时长一般为____。",
              answer: "A",
              options: [
                {
                  key: "A",
                  value: "3－4秒",
                },
                {
                  key: "B",
                  value: "5－6秒",
                },
                {
                  key: "C",
                  value: "10秒",
                },
                {
                  key: "D",
                  value: "1秒",
                },
              ],
            },
            {
              title: "一般交谈中，不应问对方的____。",
              answer: "C",
              options: [
                {
                  key: "A",
                  value: "职业",
                },
                {
                  key: "B",
                  value: "爱好",
                },
                {
                  key: "C",
                  value: "信仰",
                },
                {
                  key: "D",
                  value: "家庭",
                },
              ],
            },
            {
              title:
                "志愿者在引导宾客的过程中，做“请”的手势时，手与地面应呈____。",
              answer: "C",
              options: [
                {
                  key: "A",
                  value: "15度",
                },
                {
                  key: "B",
                  value: "30度",
                },
                {
                  key: "C",
                  value: "45度",
                },
                {
                  key: "D",
                  value: "90度",
                },
              ],
            },
            {
              title: "下面哪个是不良手形?",
              answer: "A",
              options: [
                {
                  key: "A",
                  value: "指指点点",
                },
                {
                  key: "B",
                  value: "轻握手",
                },
                {
                  key: "C",
                  value: "垂放",
                },
                {
                  key: "D",
                  value: "适度张开",
                },
              ],
            },
          ],
        };
      },
      mounted() {
        this.num = this.num.replace(/(?=\B(\d{3})+$)/g, ",");
      },
      methods: {
        handleChange(val) {
          console.log(val);
        },
      },
    });
    var vm = new Vue({
      el: "#app",
    });
    // 方法二:局部注册组件
    // var vm1 = new Vue({
    //   el: "#root",
    //   components: {
    //     "my-main": {
    //       template: "#Main",
    //     },
    //   },
    // });
  </script>
</html>
